<% provide :title, t("static_pages.course_subject") %>
<div class="row">
  <div class="col-md-6 col-offset-2">
    <h2><%= t "admin.create_subject_to_course" %></h2>
    <%= form_for [:admin, @course_subject] do |f| %>
      <%= render "shared/error_messages", object: @course_subject %>
      <p><%= f.label :course %></p>
      <p><%= f.select :course_id, @courses.collect{|p| [p.name, p.id]},
        {include_blank: false}, {class: "form-control"} %></p>

      <p><%= f.label :subject %></p>
      <p><%= f.select :subject_id, @subjects.collect{|p| [p.title, p.id]},
        {include_blank: false}, {class: "form-control"} %></p>

      <%= f.submit t("admin.create_subject_to_course"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
